
<html>
<header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<%=form_with(model:@answer) do |f|%>
<h4> Answer: </h4>
<h5><%=f.text_field :content%></h5><br>
<h4>Question </h4>
<h5><%=f.collection_select(:question_id, @questions, :id, :content)%></h5>
<h4>Solution</h4>
<h5><%=f.check_box :solution %></h5>
<h5><%=f.submit%></h5>
<%end%>

</body>
</html>